/* render ghế  */

.ghe {
    /* ghế thường*/
    width: 35px;
    height: 35px;
    border: 0.5px solid rgb(205, 205, 205);
    border-radius: 5px ;
    cursor: pointer;
    margin: 9px;
    /* margin-right: 9px;
    margin-bottom: 15px; */
    background-color: rgb(159, 158, 158);
    
  }
 

  /* hover: */
  .ghe:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    transition: all 0.5s;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  }
  .gheDaDat {
    background-color:red !important;
    cursor: no-drop;
  }
  
  .gheDangDat {
    background-color:green !important;
    
  }
  
  .gheVip {
    background-color: rgb(255, 176, 28);
  }
  

  .gheDaDuocDat{
    background-color: wheat;
    color: red !important;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
  }

  .dat_ve:hover {
    transition: all 0.2s;
   
  
    background-color: rgb(2, 174, 2);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

  .ve_trang_chu:hover{
    transition: all 0.2s;
    color: red;
    
  
   
   
  }
