.trapezoid {
  border-bottom: 15px solid rgb(34, 34, 34);
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 80%;
  opacity: 0.9;
  box-shadow: 1px 51px 51px 3px rgba(0, 0, 0, 0.86);
  -webkit-box-shadow: 1px 51px 51px 3px rgba(0, 0, 0, 0.86);
  -moz-box-shadow: 1px 51px 51px 3px rgba(0, 0, 0, 0.86);
}


